Types: deb deb-src
URIs: tor+http://2s4yqjx5ul6okpp3f2gaunr2syex5jgbfpfvhxxbbjwnrsvbk5v3qbid.onion/debian
Suites: {{ ansible_distribution_release }} {{ ansible_distribution_release }}-updates
Components: main non-free-firmware
Enabled: yes
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg

Types: deb deb-src
URIs: tor+http://5ajw6aqf3ep7sijnscdzw77t7xq4xjpsy335yb2wiwgouo7yfxtjlmid.onion/debian-security
Suites: {{ ansible_distribution_release }}-security
Components: main non-free-firmware
Enabled: yes
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg

{% if item.backports is defined and item.backports == true %}
Types: deb
URIs: tor+http://2s4yqjx5ul6okpp3f2gaunr2syex5jgbfpfvhxxbbjwnrsvbk5v3qbid.onion/debian
Suites: {{ ansible_distribution_release }}-backports
Components: main non-free-firmware
Enabled: yes
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
{% else %}
#Types: deb
#URIs: tor+http://2s4yqjx5ul6okpp3f2gaunr2syex5jgbfpfvhxxbbjwnrsvbk5v3qbid.onion/debian
#Suites: {{ ansible_distribution_release }}-backports
#Components: main non-free-firmware
#Enabled: yes
#Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
{% endif %}