
AdGuard Home (AD Blocker, parental control)
https://adguardhome.digitalprivacy.homes

Nextcloud (Cloud and more)
https://nextcloud.digitalprivacy.homes
For the initial setup and further updates of your Nextcloud instance (accept self-signed certificate in your browser):
https://{{ ansible_default_ipv4.address }}:8080
To update, use your administrator user and click on the AIO button at the top of:
https://nextcloud.digitalprivacy.homes/settings/admin/overview

SearXNG (Websearch)
https://searxng.digitalprivacy.homes

Vaultwarden (Password Manager)
https://vaultwarden.digitalprivacy.homes

Wireguard (VPN)
https://wireguard.digitalprivacy.homes

Portainer (Update Services and Log Info)
https://portainer.digitalprivacy.homes

Cockpit (Administration tool for your server)
https://cockpit.digitalprivacy.homes


