Your personal DIGITAL PRIVACY .HOMES server is ready to use.

 * Website:     https://digitalprivacy.homes
 *   Email:     hello@chat.digitalprivacy.homes
 *     FAQ:     https://digitalprivacy.homes/#faq


Please login (press the Enter key after typing the user {{ ansible_user }}. The password is not visible while typing.)

digitalprivacy login: {{ ansible_user }}
Password: {{ ansible_sudo_pass }}

